services:
    api:
        container_name: api-projeto
        build:
            context: ./StoreApi
            dockerfile: Dockerfile
        ports:
            - "5000:8080"
        depends_on:
            - db
            - redis
            - mountebank
        environment:
            ASPNETCORE_ENVIRONMENT: "Development"
            ConnectionStrings__DefaultConnection: "Host=db;Port=5432;Database=projeto;Username=admin;Password=admin"
            Redis__Host: "redis:6379"
            Imposter__Url: "http://mountebank:4545"
        networks:
            - backend

    db:
        container_name: postgres-projeto
        image: postgres:16
        restart: always
        ports:
            - "5432:5432"
        environment:
            POSTGRES_USER: admin
            POSTGRES_PASSWORD: admin
            POSTGRES_DB: projeto
        volumes:
            - ./database:/docker-entrypoint-initdb.d
            - postgres-data:/var/lib/postgresql/data
        networks:
            - backend

    redis:
        container_name: redis-projeto
        image: redis:latest
        restart: always
        ports:
            - "6379:6379"
        networks:
            - backend

    mountebank:
        container_name: mountebank-projeto
        image: andyrbell/mountebank:latest
        restart: always
        ports:
            - "4545:2525"
        volumes:
            - ./imposter/mountebank.json:/mountebank/mountebank.json
        command: >
         mb start --configfile /mountebank/mountebank.json --allowInjection
        networks:
            - backend


networks:
    backend:


volumes:
    postgres-data:
